class Gokub < Formula
  desc "Production-ready Go Project Kit"
  homepage "https://github.com/ongyoo/gokub"
  version "VERSION"
  license "MIT"

  on_macos do
    if Hardware::CPU.arm?
      url "https://github.com/ongyoo/gokub/releases/download/vVERSION/gokub_VERSION_Darwin_arm64.tar.gz"
      sha256 "DARWIN_ARM64_SHA256"
    else
      url "https://github.com/ongyoo/gokub/releases/download/vVERSION/gokub_VERSION_Darwin_x86_64.tar.gz"
      sha256 "DARWIN_X86_64_SHA256"
    end
  end

  on_linux do
    if Hardware::CPU.arm?
      url "https://github.com/ongyoo/gokub/releases/download/vVERSION/gokub_VERSION_Linux_arm64.tar.gz"
      sha256 "LINUX_ARM64_SHA256"
    else
      url "https://github.com/ongyoo/gokub/releases/download/vVERSION/gokub_VERSION_Linux_x86_64.tar.gz"
      sha256 "LINUX_X86_64_SHA256"
    end
  end

  def install
    bin.install "gokub"
  end

  test do
    assert_match version.to_s, shell_output("#{bin}/gokub version")
  end
end
